	#t-head{
			font-size: 27px;
			font-style: italic;
			font-variant: small-caps;
		}
		.admin_ul{
			list-style-position: inside;
			font-style: italic;
			padding-left: 30%;
			font-size: 20px;
		}
		#table-content{
			width: 100%;
			margin: auto;
		}
		.borrow_tr{
			height: 120px!important;
			text-align: center;
		}
		.btn_return,.btn_renew{
			font-size: 20px;
		}
		.one-column{
			background-color: 
		}
		body.one-column #container{
			background-color:rgba(0,0,0,0.07);
			border-radius: 1.5em;
			color: #fefefe;
			left: 52%;
			top:54%;
			width: 620px!important;
			 position: absolute; 
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		    
		    transition: height 1s ease;
			transition: top 1s ease;
		}

		td{
			text-align: center;
			vertical-align: middle!important;
		}
		table{
			margin-top: 30px;
			font-size: 25px;
			border:solid;
			text-align: center;
		} 
		li{
			list-style: circle!important;
		}
		@media (min-width: 641px) and (max-width:770px){
			body.one-column #container{
				min-width:70%;
			}
		}

		@media (min-width: 771px){
			body.one-column #container{
				min-width:40%;
			}
		}

		#up-arrow{
			position: absolute;
			right: 5px;
			top: 5px;
			width: 21px;
			height: 21px;
			background-image: url(data:image/gif;base64,R0lGODlhFgAVALMAAGNkZuLi44CBg5SVlru8vPb29tjZ2aioqW1ucIqLjOrq6sXFxgAAAAAAAAAAAAAAACH5BAAHAP8ALAAAAAAWABUAAARBUMlJq7046837LYVnJYlIEQBAmEqQpoEpvIAgHnR6dEb+GpsCwpdChDID4muQWShpi8+ARBUIqKTBkcXter9gUwQAOw==);
			background-color: #fefefe;
			border-radius: 100%;
		    cursor: n-resize;
		}

		body.one-column #container.folded{
			top:15px;
			margin-top:5px;
			height:6px;
			overflow:hidden;
		}
		#container_ownner{
			width: 100%;
		}
		#content{
			margin: auto;
		}
		#container_temp{
			display: none;
			width: 600px;
			margin: auto;
		}